<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.xy.fy.bmobpay"
>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:allowBackup="true"
    >
        <activity android:name="cn.bmob.pay.v3.act.PayAct" />
    </application>

</manifest>
